// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chat-name: 'chat';
$chat-x: 298px;
$chat-y: 91px;
$chat-offset-x: -298px;
$chat-offset-y: -91px;
$chat-width: 33px;
$chat-height: 33px;
$chat-total-width: 399px;
$chat-total-height: 292px;
$chat-image: '../images/sprite.png';
$chat: (298px, 91px, -298px, -91px, 33px, 33px, 399px, 292px, '../images/sprite.png', 'chat', );
$icon-air-name: 'icon-air';
$icon-air-x: 85px;
$icon-air-y: 237px;
$icon-air-offset-x: -85px;
$icon-air-offset-y: -237px;
$icon-air-width: 92px;
$icon-air-height: 34px;
$icon-air-total-width: 399px;
$icon-air-total-height: 292px;
$icon-air-image: '../images/sprite.png';
$icon-air: (85px, 237px, -85px, -237px, 92px, 34px, 399px, 292px, '../images/sprite.png', 'icon-air', );
$icon-avm-name: 'icon-avm';
$icon-avm-x: 333px;
$icon-avm-y: 191px;
$icon-avm-offset-x: -333px;
$icon-avm-offset-y: -191px;
$icon-avm-width: 66px;
$icon-avm-height: 54px;
$icon-avm-total-width: 399px;
$icon-avm-total-height: 292px;
$icon-avm-image: '../images/sprite.png';
$icon-avm: (333px, 191px, -333px, -191px, 66px, 54px, 399px, 292px, '../images/sprite.png', 'icon-avm', );
$icon-bahce-name: 'icon-bahce';
$icon-bahce-x: 0px;
$icon-bahce-y: 150px;
$icon-bahce-offset-x: 0px;
$icon-bahce-offset-y: -150px;
$icon-bahce-width: 87px;
$icon-bahce-height: 87px;
$icon-bahce-total-width: 399px;
$icon-bahce-total-height: 292px;
$icon-bahce-image: '../images/sprite.png';
$icon-bahce: (0px, 150px, 0px, -150px, 87px, 87px, 399px, 292px, '../images/sprite.png', 'icon-bahce', );
$icon-deniz-name: 'icon-deniz';
$icon-deniz-x: 150px;
$icon-deniz-y: 0px;
$icon-deniz-offset-x: -150px;
$icon-deniz-offset-y: 0px;
$icon-deniz-width: 96px;
$icon-deniz-height: 82px;
$icon-deniz-total-width: 399px;
$icon-deniz-total-height: 292px;
$icon-deniz-image: '../images/sprite.png';
$icon-deniz: (150px, 0px, -150px, 0px, 96px, 82px, 399px, 292px, '../images/sprite.png', 'icon-deniz', );
$icon-direction-name: 'icon-direction';
$icon-direction-x: 298px;
$icon-direction-y: 124px;
$icon-direction-offset-x: -298px;
$icon-direction-offset-y: -124px;
$icon-direction-width: 23px;
$icon-direction-height: 23px;
$icon-direction-total-width: 399px;
$icon-direction-total-height: 292px;
$icon-direction-image: '../images/sprite.png';
$icon-direction: (298px, 124px, -298px, -124px, 23px, 23px, 399px, 292px, '../images/sprite.png', 'icon-direction', );
$icon-fitnes-name: 'icon-fitnes';
$icon-fitnes-x: 87px;
$icon-fitnes-y: 150px;
$icon-fitnes-offset-x: -87px;
$icon-fitnes-offset-y: -150px;
$icon-fitnes-width: 71px;
$icon-fitnes-height: 74px;
$icon-fitnes-total-width: 399px;
$icon-fitnes-total-height: 292px;
$icon-fitnes-image: '../images/sprite.png';
$icon-fitnes: (87px, 150px, -87px, -150px, 71px, 74px, 399px, 292px, '../images/sprite.png', 'icon-fitnes', );
$icon-hospital-name: 'icon-hospital';
$icon-hospital-x: 333px;
$icon-hospital-y: 133px;
$icon-hospital-offset-x: -333px;
$icon-hospital-offset-y: -133px;
$icon-hospital-width: 62px;
$icon-hospital-height: 58px;
$icon-hospital-total-width: 399px;
$icon-hospital-total-height: 292px;
$icon-hospital-image: '../images/sprite.png';
$icon-hospital: (333px, 133px, -333px, -133px, 62px, 58px, 399px, 292px, '../images/sprite.png', 'icon-hospital', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 371px;
$icon-mail-y: 269px;
$icon-mail-offset-x: -371px;
$icon-mail-offset-y: -269px;
$icon-mail-width: 19px;
$icon-mail-height: 15px;
$icon-mail-total-width: 399px;
$icon-mail-total-height: 292px;
$icon-mail-image: '../images/sprite.png';
$icon-mail: (371px, 269px, -371px, -269px, 19px, 15px, 399px, 292px, '../images/sprite.png', 'icon-mail', );
$icon-marine-name: 'icon-marine';
$icon-marine-x: 333px;
$icon-marine-y: 67px;
$icon-marine-offset-x: -333px;
$icon-marine-offset-y: -67px;
$icon-marine-width: 65px;
$icon-marine-height: 66px;
$icon-marine-total-width: 399px;
$icon-marine-total-height: 292px;
$icon-marine-image: '../images/sprite.png';
$icon-marine: (333px, 67px, -333px, -67px, 65px, 66px, 399px, 292px, '../images/sprite.png', 'icon-marine', );
$icon-park-name: 'icon-park';
$icon-park-x: 158px;
$icon-park-y: 150px;
$icon-park-offset-x: -158px;
$icon-park-offset-y: -150px;
$icon-park-width: 72px;
$icon-park-height: 72px;
$icon-park-total-width: 399px;
$icon-park-total-height: 292px;
$icon-park-image: '../images/sprite.png';
$icon-park: (158px, 150px, -158px, -150px, 72px, 72px, 399px, 292px, '../images/sprite.png', 'icon-park', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 371px;
$icon-phone-y: 245px;
$icon-phone-offset-x: -371px;
$icon-phone-offset-y: -245px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 399px;
$icon-phone-total-height: 292px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (371px, 245px, -371px, -245px, 24px, 24px, 399px, 292px, '../images/sprite.png', 'icon-phone', );
$icon-pin-name: 'icon-pin';
$icon-pin-x: 317px;
$icon-pin-y: 152px;
$icon-pin-offset-x: -317px;
$icon-pin-offset-y: -152px;
$icon-pin-width: 16px;
$icon-pin-height: 25px;
$icon-pin-total-width: 399px;
$icon-pin-total-height: 292px;
$icon-pin-image: '../images/sprite.png';
$icon-pin: (317px, 152px, -317px, -152px, 16px, 25px, 399px, 292px, '../images/sprite.png', 'icon-pin', );
$icon-restoran-name: 'icon-restoran';
$icon-restoran-x: 246px;
$icon-restoran-y: 0px;
$icon-restoran-offset-x: -246px;
$icon-restoran-offset-y: 0px;
$icon-restoran-width: 87px;
$icon-restoran-height: 58px;
$icon-restoran-total-width: 399px;
$icon-restoran-total-height: 292px;
$icon-restoran-image: '../images/sprite.png';
$icon-restoran: (246px, 0px, -246px, 0px, 87px, 58px, 399px, 292px, '../images/sprite.png', 'icon-restoran', );
$icon-sosyal-name: 'icon-sosyal';
$icon-sosyal-x: 246px;
$icon-sosyal-y: 152px;
$icon-sosyal-offset-x: -246px;
$icon-sosyal-offset-y: -152px;
$icon-sosyal-width: 71px;
$icon-sosyal-height: 68px;
$icon-sosyal-total-width: 399px;
$icon-sosyal-total-height: 292px;
$icon-sosyal-image: '../images/sprite.png';
$icon-sosyal: (246px, 152px, -246px, -152px, 71px, 68px, 399px, 292px, '../images/sprite.png', 'icon-sosyal', );
$icon-spa-name: 'icon-spa';
$icon-spa-x: 246px;
$icon-spa-y: 58px;
$icon-spa-offset-x: -246px;
$icon-spa-offset-y: -58px;
$icon-spa-width: 52px;
$icon-spa-height: 94px;
$icon-spa-total-width: 399px;
$icon-spa-total-height: 292px;
$icon-spa-image: '../images/sprite.png';
$icon-spa: (246px, 58px, -246px, -58px, 52px, 94px, 399px, 292px, '../images/sprite.png', 'icon-spa', );
$icon-submit-name: 'icon-submit';
$icon-submit-x: 298px;
$icon-submit-y: 58px;
$icon-submit-offset-x: -298px;
$icon-submit-offset-y: -58px;
$icon-submit-width: 33px;
$icon-submit-height: 33px;
$icon-submit-total-width: 399px;
$icon-submit-total-height: 292px;
$icon-submit-image: '../images/sprite.png';
$icon-submit: (298px, 58px, -298px, -58px, 33px, 33px, 399px, 292px, '../images/sprite.png', 'icon-submit', );
$icon-train-name: 'icon-train';
$icon-train-x: 150px;
$icon-train-y: 82px;
$icon-train-offset-x: -150px;
$icon-train-offset-y: -82px;
$icon-train-width: 79px;
$icon-train-height: 65px;
$icon-train-total-width: 399px;
$icon-train-total-height: 292px;
$icon-train-image: '../images/sprite.png';
$icon-train: (150px, 82px, -150px, -82px, 79px, 65px, 399px, 292px, '../images/sprite.png', 'icon-train', );
$icon-way-name: 'icon-way';
$icon-way-x: 333px;
$icon-way-y: 0px;
$icon-way-offset-x: -333px;
$icon-way-offset-y: 0px;
$icon-way-width: 66px;
$icon-way-height: 67px;
$icon-way-total-width: 399px;
$icon-way-total-height: 292px;
$icon-way-image: '../images/sprite.png';
$icon-way: (333px, 0px, -333px, 0px, 66px, 67px, 399px, 292px, '../images/sprite.png', 'icon-way', );
$icon-yuzme-name: 'icon-yuzme';
$icon-yuzme-x: 0px;
$icon-yuzme-y: 237px;
$icon-yuzme-offset-x: 0px;
$icon-yuzme-offset-y: -237px;
$icon-yuzme-width: 85px;
$icon-yuzme-height: 55px;
$icon-yuzme-total-width: 399px;
$icon-yuzme-total-height: 292px;
$icon-yuzme-image: '../images/sprite.png';
$icon-yuzme: (0px, 237px, 0px, -237px, 85px, 55px, 399px, 292px, '../images/sprite.png', 'icon-yuzme', );
$play-icon-name: 'play-icon';
$play-icon-x: 0px;
$play-icon-y: 0px;
$play-icon-offset-x: 0px;
$play-icon-offset-y: 0px;
$play-icon-width: 150px;
$play-icon-height: 150px;
$play-icon-total-width: 399px;
$play-icon-total-height: 292px;
$play-icon-image: '../images/sprite.png';
$play-icon: (0px, 0px, 0px, 0px, 150px, 150px, 399px, 292px, '../images/sprite.png', 'play-icon', );
$ucyuzalmis-name: 'ucyuzalmis';
$ucyuzalmis-x: 333px;
$ucyuzalmis-y: 245px;
$ucyuzalmis-offset-x: -333px;
$ucyuzalmis-offset-y: -245px;
$ucyuzalmis-width: 38px;
$ucyuzalmis-height: 39px;
$ucyuzalmis-total-width: 399px;
$ucyuzalmis-total-height: 292px;
$ucyuzalmis-image: '../images/sprite.png';
$ucyuzalmis: (333px, 245px, -333px, -245px, 38px, 39px, 399px, 292px, '../images/sprite.png', 'ucyuzalmis', );
$zoom-name: 'zoom';
$zoom-x: 177px;
$zoom-y: 237px;
$zoom-offset-x: -177px;
$zoom-offset-y: -237px;
$zoom-width: 20px;
$zoom-height: 22px;
$zoom-total-width: 399px;
$zoom-total-height: 292px;
$zoom-image: '../images/sprite.png';
$zoom: (177px, 237px, -177px, -237px, 20px, 22px, 399px, 292px, '../images/sprite.png', 'zoom', );
$spritesheet-width: 399px;
$spritesheet-height: 292px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($chat, $icon-air, $icon-avm, $icon-bahce, $icon-deniz, $icon-direction, $icon-fitnes, $icon-hospital, $icon-mail, $icon-marine, $icon-park, $icon-phone, $icon-pin, $icon-restoran, $icon-sosyal, $icon-spa, $icon-submit, $icon-train, $icon-way, $icon-yuzme, $play-icon, $ucyuzalmis, $zoom, );
$spritesheet: (399px, 292px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
