// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$chat-name: 'chat';
$chat-x: 310px;
$chat-y: 91px;
$chat-offset-x: -310px;
$chat-offset-y: -91px;
$chat-width: 33px;
$chat-height: 33px;
$chat-total-width: 411px;
$chat-total-height: 304px;
$chat-image: '../images/sprite.png';
$chat: (310px, 91px, -310px, -91px, 33px, 33px, 411px, 304px, '../images/sprite.png', 'chat', );
$icon-air-name: 'icon-air';
$icon-air-x: 85px;
$icon-air-y: 249px;
$icon-air-offset-x: -85px;
$icon-air-offset-y: -249px;
$icon-air-width: 92px;
$icon-air-height: 34px;
$icon-air-total-width: 411px;
$icon-air-total-height: 304px;
$icon-air-image: '../images/sprite.png';
$icon-air: (85px, 249px, -85px, -249px, 92px, 34px, 411px, 304px, '../images/sprite.png', 'icon-air', );
$icon-avm-name: 'icon-avm';
$icon-avm-x: 345px;
$icon-avm-y: 191px;
$icon-avm-offset-x: -345px;
$icon-avm-offset-y: -191px;
$icon-avm-width: 66px;
$icon-avm-height: 54px;
$icon-avm-total-width: 411px;
$icon-avm-total-height: 304px;
$icon-avm-image: '../images/sprite.png';
$icon-avm: (345px, 191px, -345px, -191px, 66px, 54px, 411px, 304px, '../images/sprite.png', 'icon-avm', );
$icon-bahce-name: 'icon-bahce';
$icon-bahce-x: 0px;
$icon-bahce-y: 162px;
$icon-bahce-offset-x: 0px;
$icon-bahce-offset-y: -162px;
$icon-bahce-width: 87px;
$icon-bahce-height: 87px;
$icon-bahce-total-width: 411px;
$icon-bahce-total-height: 304px;
$icon-bahce-image: '../images/sprite.png';
$icon-bahce: (0px, 162px, 0px, -162px, 87px, 87px, 411px, 304px, '../images/sprite.png', 'icon-bahce', );
$icon-deniz-name: 'icon-deniz';
$icon-deniz-x: 162px;
$icon-deniz-y: 0px;
$icon-deniz-offset-x: -162px;
$icon-deniz-offset-y: 0px;
$icon-deniz-width: 96px;
$icon-deniz-height: 82px;
$icon-deniz-total-width: 411px;
$icon-deniz-total-height: 304px;
$icon-deniz-image: '../images/sprite.png';
$icon-deniz: (162px, 0px, -162px, 0px, 96px, 82px, 411px, 304px, '../images/sprite.png', 'icon-deniz', );
$icon-direction-name: 'icon-direction';
$icon-direction-x: 310px;
$icon-direction-y: 124px;
$icon-direction-offset-x: -310px;
$icon-direction-offset-y: -124px;
$icon-direction-width: 23px;
$icon-direction-height: 23px;
$icon-direction-total-width: 411px;
$icon-direction-total-height: 304px;
$icon-direction-image: '../images/sprite.png';
$icon-direction: (310px, 124px, -310px, -124px, 23px, 23px, 411px, 304px, '../images/sprite.png', 'icon-direction', );
$icon-fitnes-name: 'icon-fitnes';
$icon-fitnes-x: 162px;
$icon-fitnes-y: 82px;
$icon-fitnes-offset-x: -162px;
$icon-fitnes-offset-y: -82px;
$icon-fitnes-width: 71px;
$icon-fitnes-height: 74px;
$icon-fitnes-total-width: 411px;
$icon-fitnes-total-height: 304px;
$icon-fitnes-image: '../images/sprite.png';
$icon-fitnes: (162px, 82px, -162px, -82px, 71px, 74px, 411px, 304px, '../images/sprite.png', 'icon-fitnes', );
$icon-hospital-name: 'icon-hospital';
$icon-hospital-x: 345px;
$icon-hospital-y: 133px;
$icon-hospital-offset-x: -345px;
$icon-hospital-offset-y: -133px;
$icon-hospital-width: 62px;
$icon-hospital-height: 58px;
$icon-hospital-total-width: 411px;
$icon-hospital-total-height: 304px;
$icon-hospital-image: '../images/sprite.png';
$icon-hospital: (345px, 133px, -345px, -133px, 62px, 58px, 411px, 304px, '../images/sprite.png', 'icon-hospital', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 383px;
$icon-mail-y: 269px;
$icon-mail-offset-x: -383px;
$icon-mail-offset-y: -269px;
$icon-mail-width: 19px;
$icon-mail-height: 15px;
$icon-mail-total-width: 411px;
$icon-mail-total-height: 304px;
$icon-mail-image: '../images/sprite.png';
$icon-mail: (383px, 269px, -383px, -269px, 19px, 15px, 411px, 304px, '../images/sprite.png', 'icon-mail', );
$icon-marine-name: 'icon-marine';
$icon-marine-x: 345px;
$icon-marine-y: 67px;
$icon-marine-offset-x: -345px;
$icon-marine-offset-y: -67px;
$icon-marine-width: 65px;
$icon-marine-height: 66px;
$icon-marine-total-width: 411px;
$icon-marine-total-height: 304px;
$icon-marine-image: '../images/sprite.png';
$icon-marine: (345px, 67px, -345px, -67px, 65px, 66px, 411px, 304px, '../images/sprite.png', 'icon-marine', );
$icon-park-name: 'icon-park';
$icon-park-x: 87px;
$icon-park-y: 162px;
$icon-park-offset-x: -87px;
$icon-park-offset-y: -162px;
$icon-park-width: 72px;
$icon-park-height: 72px;
$icon-park-total-width: 411px;
$icon-park-total-height: 304px;
$icon-park-image: '../images/sprite.png';
$icon-park: (87px, 162px, -87px, -162px, 72px, 72px, 411px, 304px, '../images/sprite.png', 'icon-park', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 383px;
$icon-phone-y: 245px;
$icon-phone-offset-x: -383px;
$icon-phone-offset-y: -245px;
$icon-phone-width: 24px;
$icon-phone-height: 24px;
$icon-phone-total-width: 411px;
$icon-phone-total-height: 304px;
$icon-phone-image: '../images/sprite.png';
$icon-phone: (383px, 245px, -383px, -245px, 24px, 24px, 411px, 304px, '../images/sprite.png', 'icon-phone', );
$icon-pin-name: 'icon-pin';
$icon-pin-x: 329px;
$icon-pin-y: 152px;
$icon-pin-offset-x: -329px;
$icon-pin-offset-y: -152px;
$icon-pin-width: 16px;
$icon-pin-height: 25px;
$icon-pin-total-width: 411px;
$icon-pin-total-height: 304px;
$icon-pin-image: '../images/sprite.png';
$icon-pin: (329px, 152px, -329px, -152px, 16px, 25px, 411px, 304px, '../images/sprite.png', 'icon-pin', );
$icon-restoran-name: 'icon-restoran';
$icon-restoran-x: 258px;
$icon-restoran-y: 0px;
$icon-restoran-offset-x: -258px;
$icon-restoran-offset-y: 0px;
$icon-restoran-width: 87px;
$icon-restoran-height: 58px;
$icon-restoran-total-width: 411px;
$icon-restoran-total-height: 304px;
$icon-restoran-image: '../images/sprite.png';
$icon-restoran: (258px, 0px, -258px, 0px, 87px, 58px, 411px, 304px, '../images/sprite.png', 'icon-restoran', );
$icon-sosyal-name: 'icon-sosyal';
$icon-sosyal-x: 258px;
$icon-sosyal-y: 152px;
$icon-sosyal-offset-x: -258px;
$icon-sosyal-offset-y: -152px;
$icon-sosyal-width: 71px;
$icon-sosyal-height: 68px;
$icon-sosyal-total-width: 411px;
$icon-sosyal-total-height: 304px;
$icon-sosyal-image: '../images/sprite.png';
$icon-sosyal: (258px, 152px, -258px, -152px, 71px, 68px, 411px, 304px, '../images/sprite.png', 'icon-sosyal', );
$icon-spa-name: 'icon-spa';
$icon-spa-x: 258px;
$icon-spa-y: 58px;
$icon-spa-offset-x: -258px;
$icon-spa-offset-y: -58px;
$icon-spa-width: 52px;
$icon-spa-height: 94px;
$icon-spa-total-width: 411px;
$icon-spa-total-height: 304px;
$icon-spa-image: '../images/sprite.png';
$icon-spa: (258px, 58px, -258px, -58px, 52px, 94px, 411px, 304px, '../images/sprite.png', 'icon-spa', );
$icon-submit-name: 'icon-submit';
$icon-submit-x: 310px;
$icon-submit-y: 58px;
$icon-submit-offset-x: -310px;
$icon-submit-offset-y: -58px;
$icon-submit-width: 33px;
$icon-submit-height: 33px;
$icon-submit-total-width: 411px;
$icon-submit-total-height: 304px;
$icon-submit-image: '../images/sprite.png';
$icon-submit: (310px, 58px, -310px, -58px, 33px, 33px, 411px, 304px, '../images/sprite.png', 'icon-submit', );
$icon-train-name: 'icon-train';
$icon-train-x: 159px;
$icon-train-y: 162px;
$icon-train-offset-x: -159px;
$icon-train-offset-y: -162px;
$icon-train-width: 79px;
$icon-train-height: 65px;
$icon-train-total-width: 411px;
$icon-train-total-height: 304px;
$icon-train-image: '../images/sprite.png';
$icon-train: (159px, 162px, -159px, -162px, 79px, 65px, 411px, 304px, '../images/sprite.png', 'icon-train', );
$icon-way-name: 'icon-way';
$icon-way-x: 345px;
$icon-way-y: 0px;
$icon-way-offset-x: -345px;
$icon-way-offset-y: 0px;
$icon-way-width: 66px;
$icon-way-height: 67px;
$icon-way-total-width: 411px;
$icon-way-total-height: 304px;
$icon-way-image: '../images/sprite.png';
$icon-way: (345px, 0px, -345px, 0px, 66px, 67px, 411px, 304px, '../images/sprite.png', 'icon-way', );
$icon-yuzme-name: 'icon-yuzme';
$icon-yuzme-x: 0px;
$icon-yuzme-y: 249px;
$icon-yuzme-offset-x: 0px;
$icon-yuzme-offset-y: -249px;
$icon-yuzme-width: 85px;
$icon-yuzme-height: 55px;
$icon-yuzme-total-width: 411px;
$icon-yuzme-total-height: 304px;
$icon-yuzme-image: '../images/sprite.png';
$icon-yuzme: (0px, 249px, 0px, -249px, 85px, 55px, 411px, 304px, '../images/sprite.png', 'icon-yuzme', );
$play-icon-name: 'play-icon';
$play-icon-x: 0px;
$play-icon-y: 0px;
$play-icon-offset-x: 0px;
$play-icon-offset-y: 0px;
$play-icon-width: 162px;
$play-icon-height: 162px;
$play-icon-total-width: 411px;
$play-icon-total-height: 304px;
$play-icon-image: '../images/sprite.png';
$play-icon: (0px, 0px, 0px, 0px, 162px, 162px, 411px, 304px, '../images/sprite.png', 'play-icon', );
$ucyuzalmis-name: 'ucyuzalmis';
$ucyuzalmis-x: 345px;
$ucyuzalmis-y: 245px;
$ucyuzalmis-offset-x: -345px;
$ucyuzalmis-offset-y: -245px;
$ucyuzalmis-width: 38px;
$ucyuzalmis-height: 39px;
$ucyuzalmis-total-width: 411px;
$ucyuzalmis-total-height: 304px;
$ucyuzalmis-image: '../images/sprite.png';
$ucyuzalmis: (345px, 245px, -345px, -245px, 38px, 39px, 411px, 304px, '../images/sprite.png', 'ucyuzalmis', );
$zoom-name: 'zoom';
$zoom-x: 258px;
$zoom-y: 220px;
$zoom-offset-x: -258px;
$zoom-offset-y: -220px;
$zoom-width: 20px;
$zoom-height: 22px;
$zoom-total-width: 411px;
$zoom-total-height: 304px;
$zoom-image: '../images/sprite.png';
$zoom: (258px, 220px, -258px, -220px, 20px, 22px, 411px, 304px, '../images/sprite.png', 'zoom', );
$spritesheet-width: 411px;
$spritesheet-height: 304px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($chat, $icon-air, $icon-avm, $icon-bahce, $icon-deniz, $icon-direction, $icon-fitnes, $icon-hospital, $icon-mail, $icon-marine, $icon-park, $icon-phone, $icon-pin, $icon-restoran, $icon-sosyal, $icon-spa, $icon-submit, $icon-train, $icon-way, $icon-yuzme, $play-icon, $ucyuzalmis, $zoom, );
$spritesheet: (411px, 304px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
